  .login{
    background-color: white;
  }

 .container-bottom{
    padding-top: 30px;
 }

 .container-bottom p{
    padding-top: 10px;
 }

 .delicons{
   margin-left: 10px;
   margin-top: 15px;
   font-size: 18px;
 }
 
 .reqdeloffice {
   margin-top: 30px;
   margin-bottom: 40px;
 }