 .godaka {
    margin-top: 50px;
 }

 #btn {
    background-color: #0077b6;
    color: white;
    border-radius: 25px;
    width: 500px;
 }

.pm3 {
   text-align: left;
}

 .req3cop {
    color: #0077b6;
   
 }